@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.main-container {
  flex-grow: 1;
}

.site-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* хедер */
.page-header {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 64px;
  padding: 0 70px;
}

.header-logo {
  height: auto;
}

.nav-logo-link {
  margin-bottom: -10px;
}

.nav-logo-link:hover {
  opacity: 0.8;
}

.header-nav {
  display: flex;
  gap: 28px;
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item-link {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.nav-item-link:hover {
  color: #615048
}

.nav-item-link:active {
  opacity: 0.3;
}

.nav-item-user-link:hover path {
 fill: #615048
}

.nav-item-user-link:active {
  opacity: 0.3;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  width: 153px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
  min-width: 44px;
  min-height: 64px;
}

.nav-item-link-favorite {
  position: relative;
}

.counter {
  position: absolute;
  top: 12px;
  right: 3px;
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.nav-active::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
  left: 17px;
}

.nav-active-catalog::after {
  position: absolute;
  content: "";
  width: 93px;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
  right: 13px;
}

.header-button {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-left: auto;
  width: 160px;
  min-height: 36px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

.header-button:hover {
  background-color: #615048;
}

.header-button:focus-visible {
  outline: none;
  background-color: #615048;
}

.header-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.header-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

/* добро пожаловать в седону */
.hero {
  padding-top: 51px;
  background-color: #bc987e;
  background-image: url("../images/divider.png"), url("../images/index-background.jpg");
  background-size: 100% auto, 100% 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom -1px center, center center;
  text-align: center;
  min-height: 485px;
  margin-bottom: 69px;
}

/* преимущества */
.advantages {
  margin-bottom: 64px;
}

.advantages-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantages-wrapper {
  position: relative;
  padding: 0 85px;
  gap: 60px;
  text-align: center;
  width: 400px;
}

.advantages-item-blue {
  display: flex;
  flex-direction: row;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-blue img {
  width: 100%;
  height: auto;
  object-fit: cover;
  flex-basis: content;
}

.advantages-reverse {
  flex-direction: row-reverse;
}

.advantages-item:nth-child(3n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item {
  text-align: center;
  padding: 0 85px;
  min-height: 385px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-title-blue::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 30px;
  margin-left: 85px;
}

.advantages-item-title::after {
  display: block;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  margin-left: 85px;
}

.advantages-title-blue {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 102px 0 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-title {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 112px 0 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* услуги */
.services {
  margin-bottom: 96px;
}

.services-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 64px;
}

.services-card {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-card-grey {
  background-color: rgba(131, 179, 211, 0.1);
  text-align: center;
  max-width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px 85px;
  flex-grow: 1;
}

.services-card-white {
  background-color: #ffffff;
  text-align: center;
  max-width: 400px;
  min-height: 385px;
  padding: 183px 85px 81px 85px;
  flex-grow: 1;
}

.services-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.services-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-top: 30px;
}

.services-item-hotel {
  background-image: url("../images/service/hotel-icon.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.services-item-food {
  background-image: url("../images/service/food-icon.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.services-item-surprise {
  background-image: url("../images/service/surprise-icon.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

/* поиск гостиницы */
.hotel {
  margin-bottom: 96px;
}

.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
  margin-top: 0;
}

.hotel-button {
  font-family: "PT Sans", "Arial", sans-serif;
  display: block;
  margin: 0 auto;
  width: 376px;
  min-height: 52px;
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.hotel-button:hover {
  background-color: #615048;
}

.hotel-button:focus-visible {
  outline: none;
  background-color: #615048;
}

.hotel-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.hotel-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

/* подписка */
.subscription {
  background-color: #47a76a;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 415px;

}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 96px;
  margin-bottom: 20px;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 54px;
  margin-top: 0;
}

.subscription-button {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 232px;
  height: 52px;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border: none;
  padding: 0;
  cursor: pointer;
}

.subscription-button:hover {
  background-color: #68a2ca;
}

.subscription-button:focus-visible {
  outline: none;
  background-color: #68a2ca;
}

.subscription-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.30);
}

.subscription-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.subscription-form {
  display: flex;
  justify-content: center;
}

.subscription-email {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #f2f2f2;
  padding: 0 0 0 20px;
}

.subscription-email:hover,
.subscription-email:focus {
  outline: 2px solid #68a2ca;
}

/* футер */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;
  min-height: 120px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 142px;
  margin: 0;
  padding: 0;
}

.social-item {
  list-style-type: none;
}

.social-link {
  text-decoration: none;
  text-align: center;
  color: #83b3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 47px;
}

.phone-link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.phone-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.htmlacademy-link:hover path {
  fill: #756157;
}

.htmlacademy-link:active {
  color: rgba(117, 97, 87, 0.3)
}

.htmlacademy-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.phone-link:focus-visible,
.phone-link:hover {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3)
}

.social-link:hover path {
  fill: #68a2ca;
}

.social-link:focus path {
  fill: #68a2ca;
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.social-link:focus-visible path {
  fill: #68a2ca;
}

/* каталог */
/* фильтры */
.filters {
  background-color: #973a22;
  background-image: url("../images/bg-filters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px 70px 70px;
}

.container-filters-title {
  padding: 35px 70px 0 70px;
  margin-bottom: 40px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0 0 8px;
}

.breadcrumbs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.breadcrumbs-list:after {
  display: block;
  width: 29px;
  height: 10px;
  content: "";
  top: 5px;
  left: 22px;
  background-image: url("../images/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  position: absolute;
}

.breadcrumbs-list {
  list-style-type: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-right: 28px;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover path {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-list:last-child {
  margin-right: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
  padding: 0;
  color: #ffffff;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.catalog-filter-control {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 16px;
  cursor: pointer;
}

.catalog-filter-control:hover {
  color: #ffffff;
  opacity: 0.6;
}

.catalog-filter-control:active {
  color: #ffffff;
  opacity: 0.3;
}

.catalog-filter-control:focus-within .marker {
  outline: 3px solid #83b3d3;
}

.marker {
  display: block;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border-radius: 4px;
}


.catalog-filter-input[type="radio"] ~ .marker {
  border-radius: 50%;
}

.catalog-filter-input-check[type="checkbox"]:checked ~ .marker {
  background-image: url("../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffffff;
}

.catalog-filter-input[type="radio"]:checked ~ .marker {
  background-image: url("../images/radio-input.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-price-control {
  width: 143px;
  padding: 12px 43px 12px 20px;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: 700;
  border: none;
  line-height: 24px;
  color: #000000;
  outline: none;
  font-family: "PT Sans", "Arial", sans-serif;
}

.input-price-control:hover {
  background-color: #e6e6e6;
}

.input-price-control:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.price-wrapper {
  display: flex;
  gap: 2px;
  margin-bottom: 44px;
}

.filter-price-control {
  position: relative;
}

.input-price-control[name="min-price"] {
  border-radius: 4px 0 0 4px;
}

.input-price-control[name="max-price"] {
  border-radius: 0 4px 4px 0;
}

.filter-price-control[for="min-price"]::before {
  content: "от";
}

.filter-price-control[for="max-price"]::before {
  content: "до";
}

.filter-price-control::before {
  position: absolute;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 18px;
  opacity: 30%;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-right: 20px;
}

.bar-price-wrapper {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.bar-price-wrapper::after {
  position: absolute;
  content: "";
  width: 226px;
  height: 4px;
  background-color: #ffffff;
}

.button-price {
  position: absolute;
  transform: translateY(-50%);
  top: 2px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.button-price:active {
  outline: 2px solid #83b3d3;
}

.button-price:focus-visible {
  outline: 3px solid #83b3d3;
}


.button-price-max {
  right: 60px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  margin-right: 70px;
  padding: 0;
}

.catalog-filter-group-type {
  border: none;
  margin: 0;
  margin-right: 150px;
  padding: 0;
}

.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.catalog-filter-submit {
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 32px;
  min-width: 191px;
  height: 36px;
  background-color: #82b3d3;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-filter-reset {
  font-family: "PT Sans", "Arial", sans-serif;
  min-width: 191px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.catalog-filter-submit:hover {
  background-color: #68a2ca;
}

.catalog-filter-submit:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.catalog-filter-submit:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-submit:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.catalog-filter-reset:hover {
  color: rgba(255, 255, 255, 0.6);
  ;
}

.catalog-filter-reset:focus-visible {
  outline: 3px solid #83b3d3;
  color: #ffffff;
}

.catalog-filter-reset:active {
  color: rgba(255, 255, 255, 0.3)
}

.catalog-filter-reset:disabled {
  opacity: 10%;
  color: #ffffff
}

/* поиск гостиниц */
.catalog-hotels {
  margin-bottom: 156px;
  padding: 0 70px;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 40px;
  height: 49px;
}

.catalog-hotels-title {
  flex-grow: 1;
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-hotels-button {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  padding: 0;
  margin: 0;
}

.catalog-hotels-view {
  list-style-type: none;
  margin-right: 8px;
}

.hotels-view-link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  min-height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-link-selected {
  border: 2px solid #000000;
}

.hotels-view-link:hover {
  border: 2px solid #000000;
}

.hotels-view-link:active {
  border: 2px solid #000000;
}

.hotels-view-link:focus-visible {
  border: 2px solid #68a3ca;
  outline: 1px solid transparent;
}

.catalog-hotels-view:focus-visible {
  outline: 1px solid transparent;
}

.catalog-hotels-view:last-child {
  margin-right: 0;
}

.view-svg {
  display: block;
}

.catalog-hotels-select {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 292px;
  height: 49px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 20px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: 94% center;
}

.catalog-hotels-select:hover {
  border: 2px solid #68a2ca;
}

.catalog-hotels-select:focus-visible {
  border: 2px solid #68a2ca;
  outline: none;
}

.catalog-hotels-select:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
  border: none;
}

.catalog-hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 17px 20px;
  padding: 0;
  margin: 0;
  padding-bottom: 39px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog-hotels-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 1fr;
  gap: 16px 20px;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.catalog-hotels-link {
  text-decoration: none;
  grid-column-start: 1;
  grid-column-end: -1;
  height: 100%;
}

.catalog-hotels-link:hover {
  opacity: 0.8;
}

.catalog-hotels-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.catalog-hotels-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.catalog-hotels-price {
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.catalog-hotels-details {
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.catalog-hotels-details:hover {
  background-color: #615048;
}

.catalog-hotels-details:focus-visible {
  background-color: #615048;
  outline: none;
}

.catalog-hotels-details:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-hotels-details:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.catalog-hotels-favorites-button {
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 8px 0;
  background-color: #82b3d3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.catalog-hotels-favorites-button:hover {
  background-color: #68a2ca;
}

.catalog-hotels-favorites-button:focus-visible {
  background-color: #68a2ca;
  outline: none;
}

.catalog-hotels-favorites-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-hotels-favorites-button:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.favorites-active {
  background-color: #7db54f;
}

.favorites-active:hover {
  background-color: #6c9e42;
}

.favorites-active:focus-visible {
  background-color: #6c9e42;
  outline: none;
}

.favorites-active:active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.favorites-active:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.catalog-hotels-star {
  margin: 0;
  background-image: url("../images/star.svg");
  min-width: 18px;
  min-height: 18px;
  background-repeat: space no-repeat;
  background-position: center;
}

.catalog-hotels-star-5 {
  width: 106px;
}

.catalog-hotels-star-4 {
  width: 89px;
}

.catalog-hotels-star-3 {
  width: 65px;
}

.catalog-hotels-star-2 {
  width: 41px;
}

.catalog-hotels-star-1 {
  width: 17px;
}

.catalog-hotels-rating {
  width: 140px;
  min-height: 37px;
  background-color: #f2f2f2;
  color: #333333;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
  padding: 9px 0;
  margin: 0;
}

.catalog-hotels-img {
  display: block;
  margin-bottom: 16px;
}

/* пагинация */

.pages-list {
  margin: 0;
  margin-top: 39px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.pages-item {
  list-style-type: none;
  margin-right: 8px;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
}

.pages-item:not(:first-child):hover {
  background-color: #68a2ca;
}


.pages-link:focus-visible {
  background-color: #68a2ca;
  outline: none;
  border-radius: 4px;
}

.pages-item:not(:first-child):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.pages-item:first-child:focus-visible,
.pages-item:first-child:hover {
  opacity: 0.6;
}

.pages-item:last-child {
  margin-right: 0;
}

.pages-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pages-current {
  background-color: #f2f2f2;
}

.pages-current .pages-link {
  color: #000000;
  font-weight: bold;
}

.pages-next {
  list-style-type: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
  margin: 0;
  margin-right: 8px;
  padding-top: 7px;
  width: 60px;
  height: 60px
}

/* подписка в каталоге */
.subscription-inner {
  text-align: center;
  margin-bottom: 104px;
}

.subscription-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscription-text-inner {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 54px;
  margin-top: 0;
}

/* модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  background-color: #ffffff;
  border-radius: 40px;
  margin: auto;
  padding: 64px 70px;
  width: 717px;
  min-height: 576px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-close-button {
  position: absolute;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  top: 65px;
  right: 52px;
}

.modal-close-button:hover {
  opacity: 0.4;
}

.modal-close-button:active img {
  background-color: #e6e6e6;
  color: #e6e6e6;
}

.modal-close-button:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 64px 0;
}

.modal-form {
  display: grid;
  grid-template-columns: 120px 180px 113px 110px;
  grid-template-rows: 1fr;
  column-gap: 18px;
}

/* стилизация даты */
.modal-label-check-in {
  position: relative;
  grid-column: 1 / 2;
  align-self: center;
}

.modal-input-check-in {
  grid-column: 2 / -1;
}

.modal-input-warning {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ff5757;
  margin-bottom: 24px;
  width: 380px;
  padding-top: 4px;
  padding-left: 20px;
  grid-column: 2 / 5;
}

.modal-label-depart {
  position: relative;
  grid-column: 1 / 2;
  align-self: center;
}

.modal-input-depart {
  grid-column: 2 / -1;
}

.modal-input-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin-bottom: 24px;
  padding-top: 4px;
  padding-left: 20px;
  width: 380px;
  grid-column: 2 / 5;
}

.modal-label {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  align-self: center;
}

.modal-input {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  width: 440px;
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 0 12px 20px;
  background-image: url("../images/date-icon.svg");
  background-repeat: no-repeat;
  background-position: 94% center;
}

.modal-input:focus-visible {
  outline: 3px solid #82b3d3;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


.modal-date-info {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding-left: 157px;
}

/* стилизация кол-во человек */
.label-control-adults {
  grid-column: 1 / 2;
  align-self: center;
}

.input-control-adults {
  grid-column: 2 / 3;
}

.label-control-child {
  grid-column: 3 / 4;
  align-self: center;
}

.input-control-child {
  grid-column: 4 / 5;
}

.input-adults-wrapper {
  position: relative;
}

.button-adults-minus {
  bottom: 179px;
  left: 212px;
}

.button-adults-pluse {
  bottom: 179px;
  left: 283px;
}

.button-child-minus {
  bottom: 179px;
  right: 146px;
}

.button-child-pluse {
  bottom: 179px;
  right: 76px;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-top: -3px;
  margin-left: 10px;
}

.tooltip-info {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}

.tooltip-info:hover {
  opacity: 0.8;
}

.tooltip-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  width: 256px;
  min-height: 143px;
  border-radius: 10px;
  padding: 15px 18px 18px 22px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 15px;
  display: none;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  background-image: url("../images/arrow-tooltip.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-info:hover + .tooltip-text,
.tooltip-info:focus + .tooltip-text {
  display: block;
}

.button-counter {
  position: absolute;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

.button-counter:hover path {
  fill: #000000;
  fill-opacity: 1;
}

.button-counter:active path {
  fill: rgba(117, 97, 87, 0.3);
}

.button-counter:focus-visible {
  outline: 3px solid #82b3d3;
}

.input-control {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 110px;
  height: 48px;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.input-control:focus {
  outline: 2px solid #82b3d3;
}

.input-control:hover {
  background-color: #e6e6e6;
}

.button-modal-find {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 577px;
  min-height: 60px;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 48px;
}

.button-modal-find:hover {
  background-color: #68a2ca;
}

.button-modal-find:focus-visible {
  background-color: #68a2ca;
}

.button-modal-find:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button-modal-find:disabled {
  background-color: #e5e5e5;
  color: #ffffff
}

.button-modal-find:focus-visible {
  outline: none;
}

.modal-container-close {
  display: none;
}
