* {
  box-sizing: border-box;
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: PT Sans;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #333333;
}

.main-container {
  flex-grow: 1;
}

.site-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER */
.page-header {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 70px;
}

.nav-logo-link {
  margin-right: 28px;
}

.header-nav {
  display: flex;
  width: 962px;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-item {
  list-style-type: none;
  margin-right: 32px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.nav-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.nav-item-user {
  margin-right: 25px;
}

.nav-item-user:last-child {
  margin-right: 33px;
}

.counter {
  display: block;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  background-color: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.header-button {
  margin-left: auto;
  width: 160px;
  height: 36px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none
}

/* ДОБРО ПОЖАЛОВАТЬ В СЕДОНУ */
.hero {
  padding-top: 51px;
  background-image:url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 485px;
  margin-bottom: 69px;
}

/* ПРЕИМУЩЕСТВА */
.advantages {
  margin-bottom: 64px;
}

.advantages-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.advantages-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 90px;
}

.advantages-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.advantages-container {
display: flex;
flex-direction: column;
width: 400px;
min-height: 385px;
justify-content: center;
align-items: center;
}
.advantages-item {
  text-align: center;
  display: flex;
  flex-grow: 1;
}
.reverse {
  flex-direction: row-reverse;
}

.advantages-item-turquoise {
  background-color: #82B3D3;
  color: #FFFFFF;
}
.advantages-item-turquoise p {
  color: #FFFFFF
}


.advantages-item-white {
  background-color: #83B3D31F;
  color: #000000;
}

.advantages-item-grey {
  background-color: #83B3D333;
  color: #000000;
}

.advantages-item-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
}


.advantages-item-text {
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  color: #333333;
}

/* УСЛУГИ */
.services {
  margin-bottom: 96px;
}

.services-description {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.services-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin-bottom: 64px;
}

.services-card {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.services-card-grey {
  background-color: #83B3D31F;
  text-align: center;
  max-width: 400px;
  min-height: 385px;
  padding: 81px 85px;
}

.services-card-white {
  background-color: #FFFFFF;
  text-align: center;
  max-width: 400px;
  min-height: 385px;
  padding: 81px 85px;
}

.services-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
}

.services-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* ПОИСК ГОСТИНИЦЫ */
.hotel {
  margin-bottom: 96px;
}

.hotel-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.hotel-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 54px;
}

.hotel-button {
  display: block;
  margin: 0 auto;
  width: 376px;
  height: 52px;
  background-color: #756157;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none
}

/* ПОДПИСКА */
.subscription {
  background-image: url("../images/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 415px;

}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-top: 96px;
  margin-bottom: 20px;
}

.subscription-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 54px;
}

.subscription-button {
  width: 232px;
  height: 52px;
  background-color: #82B3D3;
  border-radius:0 4px 4px 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  border: none;
  padding: 0;
}
.subscription-email {
  width: 452px;
  height: 52px;
  border-radius: 4px 0 0 4px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
   background-color: #F2F2F2;
   padding: 0 0 0 20px;
}
/* FOOTER */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  min-height: 120px;
}

.social-item {
  list-style-type: none;
}

.social-link {
  text-decoration: none;
  text-align: center;
}

.phone-link {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}


/* ___________________C A T A L O G_________________ */

/* FILTERS */
.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filters {
  background-image: url("../images/bg-filters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 56px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding: 35px 0 0 70px;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-list {
  list-style-type: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  margin-right: 28px;
}

.breadcrumbs-list:last-child {
  margin-right: 0;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.catalog-filter-item {
  list-style-type: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-button-container {
  display: flex;
  flex-direction: column;
}
.catalog-filter-submit {
  margin-bottom: 32px;
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.catalog-filter-reset {
  width: 191px;
  height: 36px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}
/* ПОИСК ГОСТИНИЦ */
.catalog-hotels {
  margin-bottom: 156px;
}

.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-hotels-button {
  display: flex;
}

.catalog-hotels-view {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select-container {
  display: flex;
  align-items: center;
  padding: 0 70px 0 70px;
  margin-bottom: 40px;
}

.catalog-hotels-select {
  width: 292px;
  height: 49px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 20px;

}

.catalog-hotels-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 40px 70px;
  border-bottom: 1px solid #e6e6e6;
}

.catalog-hotels-item {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 340px;
  min-height: 438px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.catalog-hotels-item:last-child {
  margin-bottom: 0;
}

.catalog-hotels-link {
  text-decoration: none;
}

.catalog-hotels-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-hotels-item p {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-hotels-details {
  display: block;
  height: 36px;
  width: 140px;
  background-color: #756157;
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.catalog-hotels-favorites-button {
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
}

.favorites-active {
  background-color: #7DB54F;
}

.catalog-hotels-rating {
  display: block;
  width: 140px;
  height: 37px;
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0;
}


/* ПАГИНАЦИЯ */

.pages-list {
  margin: 0;
  display: flex;
  padding: 0 0 0 70px;
}

.pages-item {
  list-style-type: none;
  margin-right: 8px;
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}

.pages-item:last-child {
  margin-right: 0;
}

.pages-link {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  padding: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pages-current {
  background-color: #F2F2F2;
}
.pages-current .pages-link {
  color: #000000;
  font-weight: bold;
}

.pages-next {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color:transparent;
  margin: 0;
}

/* ПОДПИСКА */
.subscription-inner {
  text-align: center;
  margin-bottom: 149px;
}

.subscription-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscription-text-inner {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
